<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd">
	<description>
		CuteFramework框架Spring基础配置
	</description>	
	
	<!-- =================================================================== -->
	<!-- 框架资源接入		                                                     -->
	<!-- =================================================================== -->
	<import resource="classpath:frameworkContext.xml"/>
	<import resource="classpath:dictContext.xml" />
	<!--
	<import resource="classpath:securityContext.xml" />
	<import resource="classpath:resourceContext.xml" />
	<import resource="classpath:organContext.xml" />
	<import resource="classpath:appmgrContext.xml" />
	-->
	<import resource="classpath:taglibContext.xml" />
	
		
	<bean id="propertyConfigurer"
		class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
		<description>属性配置接入</description>
		<property name="locations">
			<list>
				<value>classpath:database.properties</value>
				<value>classpath:wssuap.properties</value>
				<value>classpath:application.properties</value>
			</list>
		</property>
	</bean>

	<!-- =================================================================== -->
	<!-- 数据源配置 (jdbc & dbcp & jndi)			                                     -->
	<!-- =================================================================== -->
	<!-- JDBC
	<bean id="dataSource"
		class="org.springframework.jdbc.datasource.DriverManagerDataSource">
		<description>JDBC 数据源配置</description>
		<property name="driverClassName"
			value="${hibernate.connection.driver_class}" />
		<property name="url" value="${hibernate.connection.url}" />
		<property name="username"
			value="${hibernate.connection.username}" />
		<property name="password"
			value="${hibernate.connection.password}" />
	</bean>
 	-->
 	
 	<!-- 核心库 DBCP -->
	<bean id="dataSource" class="org.apache.commons.dbcp.BasicDataSource" destroy-method="close"> 
		<property name="driverClassName" value="${hibernate.connection.driver_class}"/>
		<property name="url" value="${hibernate.connection.url}"/>
		<property name="username" value="${hibernate.connection.username}"/>
		<property name="password" value="${hibernate.connection.password}"/>	
		<property name="maxActive" value="${hibernate.connection.maxActive}" />  
       	<property name="maxIdle" value="${hibernate.connection.maxIdle}" />  
       	<property name="maxWait" value="${hibernate.connection.maxWait}" />  
       	<property name="removeAbandoned" value="${hibernate.connection.removeAbandoned}"/>  
       	<property name="removeAbandonedTimeout" value="${hibernate.connection.removeAbandonedTimeout}"/>  
       	<property name="logAbandoned" value="${hibernate.connection.logAbandoned}"/> 
	</bean>
	
	<!-- JNDI
		<bean id="dataSource" class="org.springframework.jndi.JndiObjectFactoryBean">
			<description>JNDI 数据源配置</description>
			<property name="jndiName" value="jdbc/yljk"/>
		</bean>
	 -->
	 
	<!-- 核心库 sessionFactory --> 
	<bean id="sessionFactory"
		class="com.wondersgroup.framework.core5.dao.support.EnhancedAnnotationSessionFactoryBean">
		<description>Hibernate SessionFactory 配置</description>
		<property name="dataSource" ref="dataSource" />
		<property name="configLocation"	value="classpath:hibernate.cfg.xml" />
		<property name="mappingDirectoryLocations">
			<description>Hibernate映射文件(*.hbm.xml)目录配置</description>
			<list>
				<!--<value>classpath:/com/wondersgroup/wssip/bc</value>comment-->
			</list>
		</property>
		<property name="mappingJarLocations">
			<description>Jar内部Hibernate映射文件(*.hbm.xml)配置，注意JUnit和部署配置的区别</description>
			<list>
					<!--<value>WEB-INF/lib/wsscclib-rollback-1.0.jar</value>-->
			</list>
		</property>
		<property name="annotatedPackagePrefixes">
			<description>Hibernate Annotation映射 包配置</description>
			<list>				 
				<value>com.wondersgroup.wssip.commons</value>
				<value>com.wondersgroup.wssip.local.commons</value>
				<value>com.wondersgroup.wsscclib</value>
				<value>com.wondersgroup.mycommon.model</value>	
				<value>com.wondersgroup.bc.auditadministrativedisposal.admindis.model</value>
				<value>com.wondersgroup.bc.medicarecostaudit.medaudit.model</value>
				<value>com.wondersgroup.bc.ruleknowledgemanage.planmanage.model</value>
				<value>com.wondersgroup.bc.ruleknowledgemanage.rulemanage.model</value>
				<value>com.wondersgroup.bc.businesscollaboration.auditcomplaint.model</value>
				<value>com.wondersgroup.bc.sqapplydis.sqlapply.model</value>
				<value>com.wondersgroup.wssip.bc.commons.event.model</value>
				<value>com.wondersgroup.wssuap</value>				
			</list>
		</property>
		<property name="lobHandler" ref="${jdbc.handler}" />
	</bean>
	
	
	<bean id="messageSource"
		class="org.springframework.context.support.ResourceBundleMessageSource">
		<description>消息资源接入</description>
		<property name="basenames">
			<list>
				<value>com/wondersgroup/wssip/bc/wssip-messages</value>
			</list>
		</property>
	</bean>		
	
	
	<bean id="abstractJdbcDAO" abstract="true" parent="abstractJdbcDao"/>
	<bean id="abstractHibernateDAO" abstract="true" parent="abstractHibernateDao"/>
	<bean id="genericDAO" parent="genericDao">
		<constructor-arg value="java.lang.Object"></constructor-arg>
	</bean>		
	
	<!-- =================================================================== -->
	<!-- 核心库 Transaction Define                                                  -->
	<!-- =================================================================== -->
	<bean id="transactionManager"
		class="org.springframework.orm.hibernate3.HibernateTransactionManager">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>

	<bean id="basicTxProxy" abstract="true"
		class="org.springframework.transaction.interceptor.TransactionProxyFactoryBean">
		<property name="transactionManager" ref="transactionManager" />
		<property name="transactionAttributes">
			<props>
				<prop key="save*">PROPAGATION_REQUIRED</prop>
				<prop key="add*">PROPAGATION_REQUIRED</prop>
				<prop key="remove*">PROPAGATION_REQUIRED</prop>
				<prop key="update*">PROPAGATION_REQUIRED</prop>
				<prop key="*">PROPAGATION_REQUIRED</prop>
			</props>
		</property>
	</bean>	
	
	
		
</beans>
	